{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if orders|length > 0 %}
        <div class="list-orders">
            <div class="order-title"><h3>Ваши заказы</h3></div>
            {% for order in orders %}
                <div id="div-order" class="product-in-order">
                    <div class="order">
                        <div class="order-img-block"><img src="{{ order.product.image.url }}" class="order-img"></div>
                        <div class="info-order">
                            <p>{{ order.product.name }}</p>
                            <p>Модель: {{ order.product.model }}</p>
                            <p>Категория: {{ order.product.cat }}</p>
                            <p id="elem2">Кол-во: {{ order.amount }}</p>
                            <p>Производитель: {{ order.product.manuf }}</p>
                            <p>Статус доставки: {{ order.delivery_status }}</p>
                        </div>
                        <div class="price">
                            <p><span style="font-weight: 400;">Сумма заказа: </span>{{ order.all_price }} ₽</p>
                        </div>
                        <div class="div-del-order">
                            <p>Отменить заказ:   </p>
                            <a href="{% url 'del_order' order.slug %}"><img src="{% static 'img/trashcan_106521.svg' %}" alt="" class="img-trash"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="none-order">
            <h3>Список заказов пуст</h3>
        </div>
    {% endif %}
{% endblock %}