{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="parent-order">
        <form method="get" action="{% url 'new_order' %}">
            <div class="product-in-order">
                <h4>Заказ</h4>
                <div class="order">
                    <div class="order-img-block"><img src="{{ product.image.url }}" class="order-img"></div>
                    <div class="info-order">
                        <p>{{ product.name }}</p>
                        <p>Модель: {{ product.model }}</p>
                        <p>Категория: {{ product.cat }}</p>
                        <p id="elem2">Осталось в наличии: {{ product.quantity }}</p>
                        <p>Производитель: {{ product.manuf }}</p>
                    </div>
                    <div class="order-quantity">
                        <img src="{% static 'img/minus.svg' %}" alt="" onclick="unlocked()" class="img-svg" onmousedown="minus_amount()">
                        <div><input type="text"  oninput ="new_price()" onfocus="unlocked()" id="elem1" name="count" value="1"></div>
                        <img src="{% static 'img/plus.svg' %}" alt="" onclick="unlocked()" class="img-svg" onmousedown="plus_amount()">
                    </div>
                    <div class="price">
                        <p id="price">{{ product.price }} ₽</p>
                    </div>
                </div>
            </div>

            <div class="itog-order">

                <div class="itog-block">
                    <div class="text-itog"><p>Итого</p></div>
                    <div class="text-price"><p id="new_p">{{ product.price }} ₽</p></div>
                </div>
                <div>
                    <input type="hidden" value="{{ product.slug }}" name="product"/>
                    <button type="submit" class="btn btn-primary order-button" onclick="myFunc()">Заказать</button>
                </div>

            </div>

            <div class="dop-info-order">
                <h4>Способ оплаты и доставки</h4>
                {% for f in form %}
                    <label for="">{{ f.label | capfirst }}</label>
                    <p class="">{{ f }}</p>
                {% endfor %}
            </div>
        </form>
    </div>

{% endblock content %}