{% extends 'shop/base.html' %}
{% load mytag %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

    {% if produsts|length > 0 %}
        <div class="filter-block">
            <div class="children-block-filter">
                <form method="GET" action="{% url 'search' %}">
                    {% include 'shop/left-filter.html' %}
                </form>
            </div>
        </div>
        <div class="product-block">
            <div class="dropdown">
                <form action="{% url 'search' %}" method="get" id="sortProduct">
                    {% include 'shop/order-list.html' %}
                </form>
            </div>
            {% include 'shop/list_product.html' %}
            <div class="block-paginate">
            <div class="children-block-paginate">
                {% for p in paginator.page_range %}
                    <a href="?page={{ p }}"><div class="pag-center">{{ p }}</div></a>
                {% endfor %}
            </div>
        </div>
        </div>
    {% else %}
        <div class="no_product">
            <h4>Записей не найдено</h4>
            <p>По Вашему запросу ничего не найдено.</p>
        </div>
    {% endif %}

{% endblock %}